@import "@/styles/_colors.scss";

.container {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: $ltgray 0px 0px 5px;
  width: 100%;
  height: 100%;
  transition: all 200ms ease;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    box-shadow: $ltgray 0px 0px 7px;

  }
}

[data-theme="dark"] {
  .container {
    background: $background-black;
    box-shadow: none;
    color: $text-ltgray;
  }
}
