@import "/src/styles/_colors.scss";

.container {
  transition: all 300ms ease;
  color: #000;
  padding: 24px;
  width: 100%;
  background: $background;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &.active {
    border: 1px solid $accent;
  }

  position: relative;
  // border-bottom: 1px solid red;

  &::after {
    visibility: hidden;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
  }

  .searchWrapper {
    width: 30%;
    height: 100%;
    max-height: 45px;
  }


  .themeToggler {
    margin-right: 20px;
  }

  .notifications {
    background: transparent;
    box-shadow: $ltgray 0px 0px 5px;
    transition: all 300ms ease;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 5px 10px;
    color: #62636690;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;

    &:hover {
      box-shadow: #62636640 0px 0px 10px;
    }



    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 13px;
      width: 8px;
      height: 8px;
      background: $accent;
      border-radius: 100%;

    }
  }

  .uploadIcon {
    margin-right: 10px;
    vertical-align: middle;
  }


  .user {
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    height: 100%;
    border-radius: 30px;
    box-shadow: $ltgray 0px 0px 5px;

    &:hover {
      box-shadow: #62636640 0px 0px 10px;
    }

    &Avatar {
      border-radius: 100%;
      margin-right: 10px;
    }

    &Name {
      font-weight: 700;
      font-size: 16px;
      color: $text-gray;
      transition: inherit;
      margin-right: 10px;
    }

    &Button {
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      background: transparent;
      cursor: pointer;

      &Icon {
        vertical-align: middle;
        color: $text-gray;
      }
    }
  }

}

[data-theme='dark'] {

  .container {
    color: #fff;
    background: $background-darker;

    .search {
      background: $gray;
      box-shadow: none;
      border: 1px solid $ltgray;

      &Icon,
      &Filter {
        color: #fff;

        &:hover {
          color: $accent;
        }
      }

      &Input {
        color: #fff;
      }
    }

    .notifications {
      background: $gray;
      box-shadow: none;
      color: $text-ltgray;

      &:hover {
        filter: brightness(110%);
      }
    }

    .user {
      box-shadow: none;
      background: $gray;

      &:hover {
        filter: brightness(110%);
      }

      &Name {
        color: $text-ltgray;
      }

      &Button {
        &Icon {
          color: $text-ltgray;
        }
      }
    }

  }
}
