$accent: #017EFA;
$text-gray: #626366;
$text-ltgray: #787A7C;
$text-black: #0C141D;
$ltgray: #62636630;
$background: #F7F9FC;
$background-light: #FCFCFD;

$background-black: #0F0F10;
$background-darker: #161718;
$background-dark: #303335;
$gray: #303335;
