@import "_colors";
$tr: all 300ms ease;

// [data-theme="light"] {
//   .CircularProgressbar-path {
//     transition: $tr;
//     stroke: $accent;
//   }
//
//   .CircularProgressbar-trail {
//     transition: $tr;
//     stroke: #DDEFFC;
//   }
// }

[data-theme="dark"] {
  .CircularProgressbar-path {
    transition: $tr;
    stroke: $accent;
  }

  .CircularProgressbar-trail {
    transition: $tr;
    stroke: #1e1e20;
  }
}
