@import "/src/styles/_colors.scss";

.container {
  display: flex;
  flex-direction: row;
}

.main {
  color: $text-gray;
  background: $background-light;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

[data-theme='dark'] .main {
  background: $background-darker;
  color: $text-ltgray;
}
