@import "/src/styles/_colors.scss";

.container {
  background: $background;
  width: 100svw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background: $background-light;
    width: 25%;
    box-shadow: 0px 3px 5px 2px rgba($text-ltgray, .3);

    .text {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        color: #000;
      }

      .subtitle {
        margin-top: 5px;
      }
    }

    .label {
      margin-bottom: 5px;
      margin-top: 15px;
    }

    .inputWrapper {
      display: flex;
      flex-direction: row;
      border: 1px solid $text-ltgray;
      border-radius: 5px;
      padding: 5px 10px;
      min-height: 40px;

      &.failed {
        border: 1px solid $red;

        .input,
        .input::placeholder,
        .show {
          color: $red;
        }

        &.failed .show:hover {
          color: $red;
          filter: brightness(70%);
        }
      }

      .input {
        border: none;
        width: 100%;
        letter-spacing: 1px;

        &:focus-visible {
          outline: none;
          border: none;
        }

      }

      .show {
        // align-self: flex-end;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        background: none;
        color: $text-ltgray;
        transition: all 200ms ease;

        &:hover {
          color: $text-gray;
        }
      }
    }

    .reset {
      margin-top: 15px;
      transition: all 200ms ease;
      color: #fff;

      &:hover {
        color: #000;
      }
    }

    .signup {
      margin-top: 10px;
      color: $text-ltgray;

      .link {
        transition: all 200ms ease;
        color: $text-gray;

        &:hover {
          color: #000;
        }
      }

    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex: 1;
        border: none;
        background: #000;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        min-height: 40px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}

[data-theme="dark"] {
  .container {
    background: $background-black;

    .form {
      background: $background-darker;
      box-shadow: none;

      .text {
        .title {
          color: #fff;
        }

        .subtitle {
          color: $text-ltgray;
        }
      }

      .inputWrapper {
        border: 1px solid $ltgray;

        .input {
          background: transparent;
          color: #fff;
        }

        .show {
          color: $text-ltgray;

          &:hover {
            color: #fff;
          }
        }
      }

      .reset {
        color: rgba(#fff, .5);

        &:hover {
          color: #fff;
        }
      }

      .signup {
        color: $text-gray;

        .link {
          color: rgba(#fff, .5);

          &:hover {
            color: #fff;
          }
        }

      }
    }
  }

}
