@import "@/styles/_colors.scss";

.toggler {
  display: flex;
  align-items: center;


  background: transparent;
  box-shadow: $ltgray 0px 0px 5px;
  border: 1px solid $accent;
  border-radius: 20px;
  padding: 5px;
  height: 100%;
  width: 60px;
  cursor: pointer;
  outline: none;


  .dark,
  .light {
    padding: 10px;
    border-radius: 100%;
    transition: all 500ms ease;
    height: 100%;
    background: $accent;
  }

  .dark {
    margin-left: 60%;
  }

  .light {
    margin-left: 0%;
  }
}
