@import "/src/styles/_colors.scss";

.container {
  margin-bottom: 15px;

  .label {}

  .inputWrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid $text-ltgray;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 40px;
    margin-top: 5px;

    &.failed {
      border: 1px solid $red;

      .input,
      .input::placeholder,
      .show {
        color: $red;
      }

      &.failed .show:hover {
        color: $red;
        filter: brightness(70%);
      }
    }

    .input {
      border: none;
      width: 100%;
      letter-spacing: 1px;

      &:focus-visible {
        outline: none;
        border: none;
      }

    }

    .show {
      // align-self: flex-end;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 0;
      background: none;
      color: $text-ltgray;
      transition: all 200ms ease;

      &:hover {
        color: $text-gray;
      }
    }
  }
}

[data-theme='dark'] {
  .container {
    // background: $gray;
    // box-shadow: none;
    // border: 1px solid $ltgray;

    .inputWrapper {
      border: 1px solid $ltgray;

      .input {
        background: transparent;
        color: #fff;
      }

      .show {
        color: $text-ltgray;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
