@import "/src/styles/_colors.scss";

.pinned {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &Text {
    color: $text-gray;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 600;
  }

}
