@import '@/styles/_colors';

$transition: all 100ms ease;

.container {
  transition: all 300ms ease;
  // border-right: 1px solid red;

  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 20%;
  height: 100vh;
  background: $background;
  color: $text-gray;
  font-weight: 600;
  position: relative;

  &.hidden {
    width: 0%;

    .logo,
    .navList,
    .limit {
      visibility: hidden;
      opacity: 0;
    }

    .logo {
      &::after {
        opacity: 0;
      }
    }

    .navList {
      &Item {
        padding: 0px;
        background: transparent;
      }
    }

  }


  .logo,
  .navList,
  .limit {
    visibility: visible;
    opacity: 1;
  }


  .wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 500ms 400ms ease;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    // box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.3);

    &Active {
      opacity: 1;
    }
  }

  .close {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: none;
    opacity: 0.5;
    transition: all 300ms ease;


    &:hover {
      opacity: 1;
    }

    .top,
    .bot {
      width: 4px;
      height: 15px;
      border-radius: 5px;
      background: $text-ltgray;
      transition: all 300ms ease;
    }

    .bot {
      margin-top: -3px;
    }

    &:hover .top,
    &:hover .bot {
      background: $text-gray;
    }

    &:hover .top {
      transform: rotate(25deg);

      &Rev {
        transform: rotate(-25deg);
      }
    }

    &:hover .bot {
      transform: rotate(-25deg);

      &Rev {
        transform: rotate(25deg);
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 80px;
    background: none;
    transition: all 200ms ease-out;
    overflow: hidden;

    color: $accent;

    position: relative;
    z-index: 2;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 100%;
      position: absolute;
      top: 30px;
      left: 50px;
      background: #FDBA2D;
      z-index: -1;
      opacity: 1;
      transition: all 200ms ease;
    }

    &Icon {
      margin-right: 15px;
    }

    div {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .navList {
    margin: 0;
    padding: 0px 40px;
    list-style-type: none;
    transition: $transition;

    &Item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      transition: all 200ms ease;
      text-transform: capitalize;
      background: transparent;
      border-radius: 10px;
      margin-bottom: 20px;

      &.active {
        color: #fff;
        background: $accent;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &Icon {
        margin-right: 15px;
      }

      &Divider {
        height: 2px;
        background: linear-gradient(to right, #90909000, #909090, #90909000);
        opacity: .1;
        margin: 30px 0px 0px 0px;
        border-radius: 5px;
        width: 80%;

      }
    }
  }

  .limit {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin-top: auto;
    margin-bottom: 60px;
    width: 100%;
    transition: $transition;

    &Info {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 25px;
      white-space: nowrap;

      &Bar,
      &Bar::after {
        height: 5px;
        border-radius: 5px;
      }

      &Bar {
        display: block;
        position: relative;
        width: 100%;
        background-color: #DDEFFC;
        margin-bottom: 15px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 70%;
          background-color: #017EFA;

        }
      }
    }
  }
}

[data-theme='dark'] {


  .container {
    background: $background-black;
    color: $text-ltgray;

    .wrapper {
      background: rgba(0, 0, 0, 0.6);
    }

    .close {

      &:hover.top,
      &:hover.bot {
        background: #fff;
        opacity: 1;
      }
    }

    .navList {
      &Item {
        &.active {
          background: $gray;
        }
      }
    }

    .limit {
      &Info {

        &Bar {
          background-color: #DDEFFC;

          &::after {
            background-color: #017EFA;
          }
        }
      }
    }
  }
}
