@import "/src/styles/_colors.scss";

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: transparent;
  box-shadow: $ltgray 0px 0px 5px;
  transition: all 300ms ease;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 5px 15px;


  &:focus-visible {
    border: 1px solid $accent;
  }

  &Icon,
  &Filter {
    // position: absolute;
    color: #62636680;
    vertical-align: middle;
    cursor: pointer;
    transition: all 300ms ease;

    // transform: translateY(-50%);
    // top: 50%;
    &:hover {
      color: $accent;
    }
  }

  &Icon {
    // left: 3%;
    margin-right: 15px;
    padding: 2px;
  }

  &Filter {
    // right: 4%;
    margin-left: auto;
  }

  &Input {
    outline: none;
    border: none;
    color: $text-gray;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    background: transparent;
    padding-right: 15px;
  }
}



[data-theme='dark'] {

  .search {
    background: $gray;
    box-shadow: none;
    border: 1px solid $ltgray;

    &Icon,
    &Filter {
      // color: #fff;
      color: $text-ltgray;

      &:hover {
        color: $accent;
      }
    }

    &Input {
      color: #fff;
      color: $text-ltgray;
    }
  }
}
