@import "@/styles/_colors.scss";

.pinned {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  &Text {
    color: $text-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: 600;

    span {
      color: $text-ltgray;
      font-weight: 400;
      cursor: pointer;
      position: relative;
      transition: all 200ms ease;
      border: none;

      &::after {
        content: "";
        width: 0%;
        height: 1px;
        background: $text-ltgray;
        position: absolute;
        bottom: -1px;
        border-radius: 5px;
        left: 0;
        transition: all 300ms ease;
        opacity: 0;
      }

      &:hover::after {
        width: 100%;
        opacity: .8;
      }
    }
  }

  &List {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &Item {
      padding: 15px 10px;
      background: transparent;
      box-shadow: $ltgray 0px 0px 5px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      border-radius: 10px;
      margin-bottom: 10px;

      .pin {
        margin-left: auto;
        background: none;
        border: none;
        outline: none;
        color: $accent;
      }


    }
  }
}

[data-theme="dark"] {
  .pinned {
    &List {
      &Item {
        box-shadow: none;
        background: $ltgray;
        color: text-ltgray;
      }
    }
  }
}
