@import "/src/styles/_colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 500px;
  min-height: 200px;
  border: 2px dashed $text-ltgray;
  border-radius: 10px;

  transition: all 300ms ease;

  p {

    cursor:pointer;
  }


  &.active {
    border: 2px dashed $accent;
  }

}

.files {
  margin-top: 20px;

  .text {
    margin-bottom: 10px;
    font-weight: bold;

  }
}
